<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>RedditLike</h1>
  <p>This is for coding challenge</p> 
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 ">
      <div class="card self-intro">
        <p class="card-title" style="text-align: center">It is not enough to do your best: you must know what to do, and <b>THEN</b> do your best.</p> 
        <p style="text-align:right">-- W. Edwards Deming</p>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row card">
          <h3 class="card-title">Add a Topic</h3>
          <form role="form" [formGroup]="topicForm" (ngSubmit)="addTopic(topicForm.value)">           
            <div class="form-group">
              <div>
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" [formControl]="titleControl"
                  placeholder="Please enter the title" #newtitle>
                <div [hidden]="titleControl.valid || titleControl.untouched">
            
                  <div [hidden]="!titleControl.hasError('maxlength')">
                    Title can not be longer than 255 characters.
                  </div>
                  <div [hidden]="!titleControl.hasError('required')">
                    Title is required.
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!topicForm.valid">
              Submit
            </button>
          </form>
      </div>
      

      <div> 
        <app-topic *ngFor="let anytopic of topiclist()" [topic]="anytopic">
          Topic List is Loading..
        </app-topic>
      </div>  

    </div>
  </div>
</div>